In [70]:
import pandas as pd
import json
import numpy as np

In [71]:
# from https://www.imf.org/external/datamapper/NFC_LS@GDD/SWE
df = pd.read_csv('raw_data/imf_debt.csv', delimiter='\t', dtype={y: float for y in range(1950,2021)}).replace('no data', np.nan)
display(df)
for col in df.columns[1:]:
    
    df[col] = np.array([float(n) for n in df[col]]) / 100

df.to_csv('debt_ratios.csv')

,Country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.943504083,3.251559,2.940147,3.124990,2.724768,2.684246,2.465668,2.255883,2.02434419,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,36.55152223,35.995165,36.312873,33.263569,31.906467,29.445044,25.517285,25.788101,28.63295767,26.20366183
2,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.14508667,16.566668,13.928652,15.092871,14.796867,17.979377,22.413438,22.654699,24.16059043,18.36347013
3,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.52060251,70.815479,73.243768,78.320197,76.975716,72.776169,73.169989,72.223437,71.50212903,65.40224965
4,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.6808906,95.521845,91.706612,91.546647,91.796604,92.030632,92.916397,93.037683,99.95766114,100.9618366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77.89059281,82.520792,104.910962,98.745873,88.071892,71.401811,60.461114,48.553664,50.93540074,39.87279616
79,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.08378445,62.113149,65.937553,79.221382,83.279207,82.878551,80.574308,83.629021,97.77785932,82.68125582
80,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.59304153,79.059089,72.844936,70.324027,73.754834,76.210015,71.250149,70.967058,78.85602598,71.69258895
81,United States,30.51202024,29.74557743,30.57920869,30.22245808,31.71083717,32.02168531,33.20559018,34.13345708,36.0020752,...,66.7478982,67.463327,69.127826,71.101188,72.737134,74.758267,75.735453,76.295397,85.2172061,81.09762209
82,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.74789688,34.177459,36.647826,33.336916,31.581382,28.375808,26.480689,24.847282,26.53535252,26.34364714

In [72]:
# from https://coronadatasource.org/open-data/geo-data/country-names-codes-all-countries/
country_df = pd.read_csv('raw_data/CountryNamesCodesBasic.csv')

country_map = {}
for i, row in country_df.iterrows():
    country_map[row[0] ]= row[2]

In [73]:
country_map["China, People's Republic of"] = country_map["China"]
country_map['Congo, Republic of '] = "DRC"
country_map['Czech Republic'] = country_map['Czechia']
country_map['Hong Kong SAR'] = country_map['Hong Kong']
country_map['Korea, Republic of'] = country_map['South Korea']
country_map['North Macedonia '] = country_map['North Macedonia']
country_map['Russian Federation'] = country_map['Russia']
country_map['Slovak Republic'] = country_map['Slovakia']
country_map['São Tomé and Príncipe'] = country_map['Sao Tome and Principe']
country_map['Türkiye, Republic of'] = country_map['Turkey']
country_map['United States'] = country_map['USA']

df['code'] = [country_map[c] for c in df['Country']]
df = df[['code'] + list(df.columns[:-1])]
df.to_csv('imf_debt_ratios.csv')
df

,code,Country,1950,1951,1952,1953,1954,1955,1956,1957,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.029435,0.032516,0.029401,0.031250,0.027248,0.026842,0.024657,0.022559,0.020243,NaN
1,ALB,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.365515,0.359952,0.363129,0.332636,0.319065,0.294450,0.255173,0.257881,0.286330,0.262037
2,ARG,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.161451,0.165667,0.139287,0.150929,0.147969,0.179794,0.224134,0.226547,0.241606,0.183635
3,AUS,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.675206,0.708155,0.732438,0.783202,0.769757,0.727762,0.731700,0.722234,0.715021,0.654022
4,AUT,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.916809,0.955218,0.917066,0.915466,0.917966,0.920306,0.929164,0.930377,0.999577,1.009618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,UKR,Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.778906,0.825208,1.049110,0.987459,0.880719,0.714018,0.604611,0.485537,0.509354,0.398728
79,ARE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.570838,0.621131,0.659376,0.792214,0.832792,0.828786,0.805743,0.836290,0.977779,0.826813
80,GBR,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.835930,0.790591,0.728449,0.703240,0.737548,0.762100,0.712501,0.709671,0.788560,0.716926
81,USA,United States,0.30512,0.297456,0.305792,0.302225,0.317108,0.320217,0.332056,0.341335,...,0.667479,0.674633,0.691278,0.711012,0.727371,0.747583,0.757355,0.762954,0.852172,0.810976
82,VUT,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.357479,0.341775,0.366478,0.333369,0.315814,0.283758,0.264807,0.248473,0.265354,0.263436